<div *ngIf="this.currentUserData!=null">
    <h3>{{inventoryType == 'list' ? "List" : "Pantry"}}:</h3> <!-- Sorry for using a ternary operator. --> 
    <button type='checkbox' (click)="selectAll()"></button>
    <ul class="list-pantry">
      <li *ngFor="let item of inventory"> 
        <app-item [item] = "item"></app-item>
      </li>
    </ul>
    <button (click)="addItem()">Add Item</button>
    <button (click)="deleteSelected()">Delete Selected</button>
    <button (click)="checkOut()">Check Out</button>
</div>
