<div *ngIf="this.currentUserData!=null">
    <h3>{{inventoryType == 'list' ? "List" : "Pantry"}}:</h3> <!-- Sorry for using a ternary operator. --> 
    <span (click)="selectAll()">
      <i class='fa fa-square-o' aria-hidden='true'></i>
    </span>
<!--     <span *ngIf="inventory.filter{item.checked != true}.length == 0" (click)="selectAll()">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
    </span> -->
    <ul class="list-pantry">
      <li *ngFor="let item of inventory"> 
        <app-item [item] = "item"></app-item>
      </li>
    </ul>
    <button (click)="addItem()">Add Item</button>
    <button (click)="deleteSelected()">Delete Selected</button>
    <button (click)="checkOut()">Check Out</button>
</div>
