<div (click)="toggleFocus()" [class]="person.colorDebt()">
  <i class="fa fa-plus-square" aria-hidden="true" *ngIf="!this.isFocused"></i>   <!-- Expand. -->
  <i class="fa fa-minus-square-o" aria-hidden="true" *ngIf="this.isFocused"></i> <!-- Collapse. -->
  {{person.name}} @{{person.handle}}  {{person.formatDebt()}}
</div>
<div *ngIf="this.isFocused">
  You are paying this much money to {{person.name}}: <br>
  <label>$</label> <input class=".price" type="number" min="0" step="0.01" [(ngModel)]="pendingDebt" name="debt" placeholder="0" (keyup)="formatPendingDebt()" (keyup.enter)="submitDebt()" ><br>
  <button (click)="toggleFocus()">Cancel</button><button (click)="submitDebt()">Submit</button><a href="https://www.paypal.com" target="_blank">Pay with Paypal</a>
</div>
