<div (click)="focus()" [style]="person.colorDebt() | safe">
  {{person.name}} @{{person.handle}}  {{person.formatDebt()}}
</div>
<div *ngIf="this.isFocused">
  You are paying this much money to {{person.name}}: <br>
  <input [(ngModel)]="pendingDebt" name="debt" type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="currency"><br>
  <button (click)="focus()">Cancel</button><button (click)="submitDebt()">Submit</button><a href="https://www.paypal.com" target="_blank">Pay with Paypal</a>
</div>