<div (click)="toggleFocus()" [class]="person.colorDebt().concat(' no-select')">
  <img style="height:40px;width:40px;"[src]="person.photoURL">
  <i class="fa fa-plus-square fixed-width" aria-hidden="true" *ngIf="!this.isFocused"></i>   <!-- Expand. -->
  <i class="fa fa-minus-square-o fixed-width" aria-hidden="true" *ngIf="this.isFocused"></i> <!-- Collapse. -->
  {{person.name}} @{{person.handle}}  {{person.formatDebt()}}
</div>
<div *ngIf="this.isFocused">
  You are paying this much money to {{person.name}}: <br>
  <label>$</label> <input class=".price" type="number" min="0" step="0.01" [(ngModel)]="pendingDebt" name="debt" placeholder="0" (keyup)="formatPendingDebt()" (keyup.enter)="submitDebt()" ><br>
  <button (click)="toggleFocus()">Cancel</button><button (click)="submitDebt()">Submit</button><a *ngIf="person.paymentLink" [href]="person.paymentLink" target="_blank">Pay Back</a>
</div>
