<div (click)="toggleVisible()">
  <i class="fa fa-plus-square" aria-hidden="true" *ngIf="!visible"></i>   <!-- Expand. -->
  <i class="fa fa-minus-square-o" aria-hidden="true" *ngIf="visible"></i> <!-- Collapse. -->
  {{group.name}}
</div>
<div *ngIf="visible">
  <b>name</b> <input [(ngModel)]="localName" (keyup.enter)="updateName()"><button (click)="updateName()">Update</button>
  <!-- Put searchy thing here. -->
  <div>
      <ul>
          <li *ngFor="let member of group.members">
              <app-user-view [userID]="member"></app-user-view>
              {{member}}
          </li>
    </ul>
    <label>Add A Member:</label><app-search-users [groupID]="localID" [userSelectedCallback]="generateSelectUserCallback()"></app-search-users>
  </div>
</div>
