<div class="masthead row navbar navbar-fixed-top"> <!-- masthead row  -->
  <div class="col-xs-4">
    <img class="side-button" src="./assets/iconOnly.svg"/>
  </div>
  <div class="masthead-name col-xs-4">
    SuiteLife
  </div>
  <div class="col-xs-4">
    <app-login></app-login>
  </div>
</div>

<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#home">Inventory</a></li>
  <li><a data-toggle="tab" href="#menu1">IOUs</a></li>
</ul>

<div class="tab-content">
  <!-- INVENTORY CONTENT GOES BELOW THIS -->
  <div id="home" class="tab-pane fade in active">
<!--     <ul>
      <li *ngFor="let item of items | async">
        {{item.name}}: {{item.handle}}
      </li>
    </ul> -->

    <div *ngFor="let group of groups">
      <div class="row">
        <div class="col-xs-1 col-md-2"></div> <!-- Groups spacer. -->
        <div class="group-container col-xs-10 col-md-8">
          <h3>{{group.name}}</h3><br>
          <div class="inventory-container">
            <div class="col-xs-0 col-md-1"></div> <!-- Inventory spacer (has transparent background). -->
            <app-inventory class="inventory-list col-xs-12 col-md-5" [inventoryType]="'list'" [group]="group"></app-inventory>
            <app-inventory class="inventory-pantry col-xs-12 col-md-5"[inventoryType]="'pantry'" [group]="group"></app-inventory>
            <div class="col-xs-0 col-md-1"></div> <!-- Inventory spacer (has transparent background). -->
          </div>
        </div>
        <div class="col-xs-1 col-md-2"></div> <!-- Groups spacer. -->
      </div>
    </div>

  </div>

  <!-- IOUS CONTENT GOES BELOW THIS -->
  <div id="menu1" class="tab-pane fade">
    <h3>IOUs</h3>
    <app-ious></app-ious>
  </div>

</div>