@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* UI Gradient: Brady Brady Fun Fun */
$logo-gradient: -webkit-linear-gradient(left, #00c3ff, #ffff1c);
$logo-font: 'Montserrat', sans-serif;

/* Color scheme */
$color-white: #f3f3f4;    // Off-white.
$color-background: #A0DB8E; // Green.
$color-dominant: #30383a;  // For the navbar. (Black.)
$color-list: white;     // For the list background. 
$color-pantry: black;   // For the pantry background.
$color-transparent-ground: rgba($color-background, 0.7); // For the group background. (Transparent.)
$color-debt-zero: gray;
$color-debt-positive: red;
$color-debt-negative: green;

body {
  background: $color-dominant url(assets/cityscapeOverlap.svg) repeat-x fixed bottom;
  background-size: 30%;
  width: 100%;
  height: 100%;
  font-color: $color-dominant;
}

.page-container {
  width: 100vw;
}

.masthead {
  position: fixed;

  width: 100vw;
  // width: 100%;

  font-family: $logo-font;
  color: $color-white;
  font-size: 3.5vh;

  background: $color-dominant;

  text-align: center;

  .side-button {
    height: 6vh;
    width: 6vh; 
    margin: 0.5vh;
    float: left;
  }

  .masthead-name {
    padding-top: 1vh;
  }

  .login {
    font-size: 2vh;
    margin: 0.5vh;
    float: right;
    color: $color-white;
  }
}

.masthead-spacer {
  height: 7vh;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .masthead {
    .side-button {
      height: 50px;   
    }
    div > .login { // Specificity.
      // height: 50px;
      // font-size: 20px;
      color: $color-dominant;
    }
  }
  .masthead-spacer {
    height: 60px;
  }

  div .group-container .inventory-container { // Extra specificity to make these definitely apply. 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // justify-content: center;
    align-content: stretch;
  }
}

/* Single Inventory Container. */
.group-container {    

  background: $color-transparent-ground;
  padding: 0 4px;
  margin: 0 4px;

  .inventory-container {
    display: flex;
    flex-direction: column;

    padding: 4px;
    margin: 4px;

    .inventory-list {
      padding: 4px;
      background: $color-list;
    }

    .inventory-pantry {
      padding: 4px;
      background: $color-pantry;
    }
  }
}

.price {
  width: 61px;
  text-align: right;
}

/* Use these classes to color the text of the IOUs. */

.debt-zero {
    color: $color-debt-zero;
}

.debt-positive {
    color: $color-debt-positive;
}

.debt-negative {
    color: $color-debt-negative;
}
