// For the logo. We aren't currently using any of the following, so it's commented out. 
// @import url('https://fonts.googleapis.com/css?family=Montserrat');
// UI Gradient: Brady Brady Fun Fun
// $logo-gradient: -webkit-linear-gradient(left, #00c3ff, #ffff1c);
//-------------------------------------------------------------------------------------

/* Note: Designed with a mobile-first approach. */

$logo-font: 'Montserrat', sans-serif;
/* Color scheme */
$color-white: #f3f3f4;    // Off-white.
$color-sprout: #bbe4c4;   // Green, for transparenting over the background.
$color-onyx: #30383a;     // "Black" for the navbar. 
// Colors to define debts. 
$color-debt-gray: #686e6f;
$color-debt-red: #b22745;
$color-debt-green: #00823c;

body {
  background: $color-onyx url(assets/cityscape.svg) repeat-x bottom;
  background-size: 500px;
  width: 100%;
  height: 100%;
  color: $color-onyx;

  margin-top: 50px; // Spacer.
}

.fixed-bg { // EXtenddd???
  background: $color-onyx url(assets/cityscape.svg) repeat-x fixed bottom;
  background-size: 500px;
  width: 100%;
  height: 100%;
  color: $color-onyx;

  margin-top: 50px;
}

.splash {

  width: 100%;

  img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }

  > div {
    position: absolute;
    text-align: center;
    top: 43vh; // TODO: Fix this number for if the image does not stretch to the bottom. Is this different for a landscape image? ugh it's portrait
    left: 0;
    z-index: 3;
    width: 100%;

    .splash-content {
      background-color: $color-onyx;
      color: $color-white;

      h3 {
        font-size: 20px;
      }
    }
  }
}

.nav-pills {
  display: flex;
  justify-content: center;
}

.page-anchor {
  position: relative;
  a {
    position: absolute;
    top: calc(-7vh - 0.5px);
  }
}

.bottom-scroll {
  margin-bottom: 250px;
}

li { // No bullet points on list items. Anywhere. 
  list-style-type: none;
}

button { // Standardized format for all buttons. 
  background: $color-white;
  color: $color-onyx;
  border: none;
  margin: 4px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.nav-tabs {
  li {
    a {
      color: $color-white; 
      &:hover {
        color: $color-onyx;
      }
      &:active {
        color: $color-onyx;
      }
    }
  }
}


/* For sizing the iframes on the preview page. */

.ppt { // Ratio: width="683" height="541" 
  $width: 80vw;
  width: $width;
  height: $width*541/683;
  max-width: 100%;
}

.demovid { // Ratio: width="560" height="315" 
  $width: 80vw;
  width: $width;
  height: $width*315/560;  
  max-width: 100%;
}

.bio {
  display: inline-block;
  margin-bottom: 4px;
  .bio-pic { // For our bios.
    float: left;
    padding-right: 4px;
  }
}

.profile-pic {
  margin: 4px;
  height:40px;
  width:40px;
}

/* Resizing some stuff from Bootstrap because it's too big. */

.row {
  width: 100%;
  left: 0;
}


/* For sizing icons on the masthead. */

.masthead {
  z-index: 10;

  border-bottom: 0.5px solid $color-white;

  font-family: $logo-font;
  color: $color-white;
  font-size: 3.5vh;

  background: $color-onyx;

  text-align: center;

  margin: 0;

  display: inline-block;

  .logo {
    height: 6vh;
    width: 6vh; 
    margin: 0.5vh;
    float: left;
    display: inline-block;
  }

  .masthead-name {
    height: 6vh;
    padding-top: 1vh;
    text-align: center;
    display: inline-block;
  }

  .login {
    font-size: 2vh;
    float: right;
    display: inline-block;

    button {
      margin: 1.5vh 0;
    }

  }
}


/* General container for large chunks of web content that I want on a green background. */

.group-container {    

  background: rgba($color-sprout, 0.7);
  padding: 4px;
  margin: 4px;
  border-radius: 4px;

  h3 {
    padding: 0;
    padding-left: 5px;
    margin: 0;
  }

  input {
    background-color: rgba($color-white, 10);
    border: none;
  }

  p { // So I can stop adding random &nbsp;s to things.
    padding-left: 4px;
  }

  /* Single inventory container. */
  .inventory-container {
    display: flex;
    flex-direction: column;

    padding: 4px;
    margin: 4px;

    .inventory-list {
      padding: 4px;
      margin: 4px;
      background: mix($color-white, $color-onyx, 90%);
      border-radius: 4px;
    }

    .inventory-pantry {
      padding: 4px;
      margin: 4px;
      background: mix($color-white, $color-onyx, 30%);
      color: $color-white;
      border-radius: 4px;

      input {
        color: $color-onyx;
      }

    } 
  }
}

.main-container {
  @extend .group-container;
  background: rgba(255, 255, 255, 0);
  color: $color-white;
}

.mobile-margin {
  margin-left: 10px;
}

.list-pantry {
  touch-action: none;
}

.item-name {
  width: 112px;
}

/* Format any price fields to be an appropriate length and alignment. */

.price {
  width: 61px;
  text-align: right;
}

.disclosure-header {
  display: block;
  h4 {
    display: inline;
  }
}

/* Color the IOUs. */
.person-debt {    

  font-size: 12pt;

  .debt-zero {
    color: $color-debt-gray;
  }

  .debt-positive {
    color: $color-debt-red;
  }

  .debt-negative {
    color: $color-debt-green;
  }
}


/* Force font awesome icons to be the same size (e.g. checkboxes). */

.fixed-width {
  display: inline-block;
  width: 1.25em;
  // text-align: center;
}


/* Draggy handle padding to make its hitbox larger. */

.handle {
  padding: -4px;
}


/* Copying dragula.css code because actual importing is hard. */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


/* Media queries for formatting DESKTOP. */

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    overflow-x: hidden;
  }

  div .group-container .inventory-container { // Extra specificity to make these definitely apply. 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    button {
      color: $color-onyx;
    }
  }

  .mobile-margin {
    margin-left: 0;
  }

  .splash {
    > div {
      .splash-content {
        h3 {
          font-size: 40px;
        }
      }
    }
  }
}

/* Show hover icon */

.hover {
    cursor: pointer;
}
