/* Note: Designed with a mobile-first approach. */
/* Color scheme */
body {
  background: #30383a url(assets/cityscape.svg) repeat-x fixed bottom;
  background-size: 500px;
  width: 100%;
  height: 100%;
  color: #30383a;
  margin: 0;
  padding-top: calc(7vh + 0.5px);
  padding-top: -webkit-calc(7vh + 0.5px);
  padding-top: -moz-calc(7vh + 0.5px); }

li {
  list-style-type: none; }

button {
  background: #f3f3f4;
  color: #30383a;
  border: none;
  margin: 4px; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

.nav-tabs li a {
  color: #f3f3f4; }
  .nav-tabs li a:hover {
    color: #30383a; }
  .nav-tabs li a:active {
    color: #30383a; }

/* For sizing the iframes on the preview page. */
.ppt {
  width: 80vw;
  height: 63.3674963397vw;
  max-width: 100%; }

.demovid {
  width: 80vw;
  height: 45vw;
  max-width: 100%; }

.bio-pic {
  float: left;
  padding: 0 4px 0 4px; }

.profile-pic {
  margin: 4px;
  height: 40px;
  width: 40px; }

/* Resizing some stuff from Bootstrap because it's too big. */
.row {
  width: 100%;
  left: 0; }

/* For sizing icons on the masthead. */
.masthead {
  z-index: 10;
  border-bottom: 0.5px solid #f3f3f4;
  font-family: "Montserrat", sans-serif;
  color: #f3f3f4;
  font-size: 3.5vh;
  background: #30383a;
  text-align: center;
  margin: 0;
  display: inline-block; }
  .masthead .logo {
    height: 6vh;
    width: 6vh;
    margin: 0.5vh;
    float: left;
    display: inline-block; }
  .masthead .masthead-name {
    height: 6vh;
    padding-top: 1vh;
    text-align: center;
    display: inline-block; }
  .masthead .login {
    font-size: 2vh;
    float: right;
    display: inline-block; }
    .masthead .login button {
      margin: 1.5vh 0; }

/* General container for large chunks of web content that I want on a green background. */
.group-container {
  background: rgba(187, 228, 196, 0.7);
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  /* Single inventory container. */ }
  .group-container h3 {
    padding: 0;
    padding-left: 5px;
    margin: 0; }
  .group-container input {
    background-color: #f3f3f4;
    border: none; }
  .group-container p {
    padding-left: 4px; }
  .group-container .inventory-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 4px; }
    .group-container .inventory-container .inventory-list {
      padding: 4px;
      margin: 4px;
      background: #e0e0e1;
      border-radius: 4px; }
    .group-container .inventory-container .inventory-pantry {
      padding: 4px;
      margin: 4px;
      background: #6b7072;
      color: #f3f3f4;
      border-radius: 4px; }
      .group-container .inventory-container .inventory-pantry input {
        color: #30383a; }

.list-pantry {
  touch-action: none; }

.item-name {
  width: 135px; }

/* Format any price fields to be an appropriate length and alignment. */
.price {
  width: 61px;
  text-align: right; }

.disclosure-header {
  display: block; }
  .disclosure-header h4 {
    display: inline; }

/* Color the IOUs. */
.person-debt {
  font-size: 12pt; }
  .person-debt .debt-zero {
    color: #686e6f; }
  .person-debt .debt-positive {
    color: #b22745; }
  .person-debt .debt-negative {
    color: #00823c; }

/* Force font awesome icons to be the same size (e.g. checkboxes). */
.fixed-width {
  display: inline-block;
  width: 1.25em; }

/* Draggy handle padding to make its hitbox larger. */
.handle {
  padding: 4px; }

/* Copying dragula.css code because actual importing is hard. */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20); }

/* Media queries for formatting DESKTOP. */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    overflow-x: hidden; }

  div .group-container .inventory-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch; }
    div .group-container .inventory-container button {
      color: #30383a; } }
/* Show hover icon */
.hover {
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
