<div class="group-container" *ngIf="!isUserCreation || (isUserCreation && !userCreated)">
  <h3 *ngIf="isUserCreation">Set User Details</h3>
  <p *ngIf="isUserCreation">You can change these later.</p>
  <h3 *ngIf="!isUserCreation">Settings</h3>
    <ul>
      <li *ngFor="let key of SETTINGSKEYS['single']">
        <div class="row">
          <br>
          <label>{{key == 'payment-link' ? 'payment link' : key}}</label> <br>
          &nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="singlePropertySettings[key]" (keyup.enter)="updateSingleProperty(key)">
          <button *ngIf="!isUserCreation" (click)="updateSingleProperty(key)">Update</button>
        </div>
      </li>
      Note that the payment link requires a full URL (including the <code>https://</code>). If you specify an invalid link, it won't work.
    </ul>
    <button *ngIf="isUserCreation" (click)="updateAllProperties()">Continue</button>
</div>
