<div class="group-container">
  <h3>Settings</h3>
    <ul>
      <li *ngFor="let key of SETTINGSKEYS['single']">
      	<div class="row">
      		<div class="col-xs-1">
        		<label>{{key}}</label>
        	</div>
        	<div class="col-xs-11">
        		<input [(ngModel)]="singlePropertySettings[key]" (keyup.enter)="updateSingleProperty(key)">
        		<button (click)="updateSingleProperty(key)">Update</button>
        	</div>
        </div>
      </li>
    </ul>
    <!-- Search users example -->
    <div>
        <label>Search Users</label><app-search-users [userSelectedCallback]="selectUser"></app-search-users>
    </div>
</div>
