<div class="group-container" *ngIf="!isUserCreation || (isUserCreation && !userCreated)">
  <h3 *ngIf="isUserCreation">Set User Details</h3>
  <p *ngIf="isUserCreation">&nbsp;&nbsp;You can change these later.</p>
  <h3 *ngIf="!isUserCreation">Settings</h3>
    <ul>
      <li *ngFor="let key of SETTINGSKEYS['single']">
      	<div class="row">
      		<div class="col-xs-1">
        		<label>{{key}}</label>
        	</div>
        	<div class="col-xs-11">
        		<input [(ngModel)]="singlePropertySettings[key]" (keyup.enter)="updateSingleProperty(key)">
        		<button *ngIf="!isUserCreation" (click)="updateSingleProperty(key)">Update</button>
        	</div>
        </div>
      </li>
    </ul>
    <button *ngIf="isUserCreation" (click)="updateAllProperties()">Continue</button>
    <!-- Search users example -->
<!--     <div>
        <label>Search Users</label><app-search-users [userSelectedCallback]="selectUser"></app-search-users>
    </div> -->
</div>
